*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  height: 100vh; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

.container {
  padding: 2rem; }

.home {
  display: flex; }

.tweet {
  border: 1px solid #999;
  padding: 1rem; }
  .tweet__author {
    font-size: 1.4rem; }
  .tweet__body {
    font-size: 1.2rem; }

.tweet-form {
  padding: 2rem 0; }

.navbar {
  flex: 0 1 25%; }

.feed {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  flex: 0 1 50%;
  overflow: scroll; }

.trends {
  flex: 0 1 25%; }
